body {
    background-color: black;
    background-image: url("images/nood.svg");
    background-repeat: repeat;
    background-size: cover;
}

.title {
    color: aqua;
    padding-left: 30px;
    font-size: 20px;
    text-decoration: underline wavy;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}
 
.rotate {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-40%, -50%);
}

.textbg {
    background-color: black;
    height: 30px;
    width: 110px;
}

p {

    color: aqua;
    font-family: nudista-web;

}

ul {
        color: aqua;
        font-family: nudista-web;
        padding-right: 20px;
    

}
  
  



