
.title {
    color: aqua;
    text-align: left;
    padding-left: 30px;
    padding-top: 0px;
    padding-right: -500px;
    font-size: 20px;
    text-decoration: underline wavy;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}



body {
    background-color: black;
    background-image: url("images/nood.svg");
    background-repeat: repeat;
    background-size: cover;
}

  

a { color:red } /* Globally */
a { text-decoration: none;}

/* Each state */

a:visited { text-decoration: none; color:#36454F
    ; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:#ff4d06 }


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    overflow: none;
  }
 
  div.rotate {
    position: fixed;
left: 50%;
top: 40%;
transform: translate(-40%, -50%);

  }


  .textbg {
    background-color: black;
    height: 30px;
    width: 110px;
     }
  
  



